
.container {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
}

.left-sidebar,
.right-sidebar {
  height: 100px;
}

.left-sidebar {
  background-color: #edcbb1;
}

.right-sidebar {
  background-color: #c17767;
}

.content {
  background-color: #6d98ba;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
  }

  .left-sidebar,
  .right-sidebar {
    width: 25%;
  }

  .content {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .container {
    display: flex;
  }

  .left-sidebar,
  .right-sidebar {
    width: 20%;
    height: 300px;
  }

  .content {
    width: 60%;
  }
}
