/* a {
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  padding: 0 10px;
  height: 100px;

  color: green;
  font-size: 24px;
  line-height: 100px;

  font-family: "Pacifico", cursive;
}

button {
  font-size: 48px;
  color: red;

  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  height: 100px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
} */

.wrapper {
  min-height: 100vh;
  /* background-color: red; */
  background-image: url('../img/flowers.jpg');
  background-repeat: no-repeat;
  /* background-position: center center;
  background-size: cover; */

  /* background: url("../img/cute-3252251_1280.jpg") no-repeat center center ; */
  /* background-size: cover;  */
}

