/* a {
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;

  color: green;
  font-size: 16px;
} */

/* button {
  font-size: 24px;
  color: green;
} */

.wrapper {
  min-height: 100vh;
  /* background-color: red;
  background-image: url('../img/cute-3252251_1280.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
}
