.wrapper {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
}

form {
  background-color: lightgray;
  padding: 20px;
}

li {
  margin-bottom: 20px;
  list-style: none;
}

/* .input_valid:valid {
  border-color: green;
}

.input_valid:invalid {
  border-color: red;
} */

.input_valid {
  border: 2px solid red;
  padding: 0 0 0 10px;
  outline: none;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  color: green;
  background-color: lightcyan;
}

.input_valid:focus {
  border: 2px solid yellow;
}

.input_valid:hover {
  border: 2px solid green;
}

.input_valid:valid {
  border: 2px solid blueviolet;
}
