@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot") format("eot"),
      url("../fonts/RobotoBold/RobotoBold.ttf") format("ttf"),
      url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
  }
  
  @font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot") format("eot"),
      url("../fonts/RobotoRegular/RobotoRegular.ttf") format("ttf"),
      url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff");
  }