/* font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */

body {
  font-family: "Open Sans", sans-serif;
}

.masthead-wrapper {
  min-height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
}

.masthead-section {
  width: 90%;
  margin: 0 auto;
}

.masthead {
  padding: 50px 0 0 0;
  margin: 0 0 300px 0;
}

.masthead-logo {
  display: inline-block;
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  width: 30%;
}

.masthead-nav {
  display: inline-block;
  width: 69%;
}

.nav-list {
  padding: 0;
  margin: 0;
  text-align: right;
}

.nav-list__item {
  list-style: none;
  display: inline-block;
  margin: 0 25px 0 0;
}

.nav-list__link {
  text-decoration: none;
  color: white;
}

.masthead_title_section {
  text-align: center;
  color: white;
}

.masthead__title {
  font-size: 56px;
  margin: 0 0 50px 0;
}

.masthead__text {
  display: block;
  font-size: 28px;
  margin: 0 0 50px 0;
}

.masthead__link {
  display: inline-block;
  height: 50px;
  background-color: #2196f3;
  line-height: 50px;
  color: white;
  text-decoration: none;
  padding: 0 30px;
  border-radius: 4px;
}

.our_works_container {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
}

.our_works__header {
  text-align: center;
  width: 800px;
  margin: 0 auto 70px auto;
}

.header__title {
  margin: 0 0 50px 0;
}

.header__text {
  line-height: 1.8;
}

.our_works__list {
  padding: 0;
  margin: 0;
}

.our_works__item {
  display: inline-block;
  margin: 0 40px 40px 0;
}

.features-wrapper {
  background-color: #f7f7f7;
}

.features-section {
  width: 90%;
  padding: 100px 0;
  margin: 0 auto;
}

.features-list {
  margin: 0;
  padding: 0;
}

.features-list__item {
  text-align: center;
  display: inline-block;
  list-style: none;
  width: 25%;
  margin-left: calc(25% / 4 - 12px);
}

.fa-instagram,
.fa-dropbox,
.fa-newspaper {
  font-size: 56px;
  color: #2196ef;
}

