@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
      url("../fonts/RobotoBold/RobotoBold.ttf") format("ttf");
  
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
      url("../fonts/RobotoRegular/RobotoRegular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }