@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("ttf");
  /* font-weight: 600;
  font-style: normal; */
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("ttf");
  /* font-weight: 400;
  font-style: normal; */
}

h1,
p {
  font-family: "RobotoBold", serif;
}

/* -------------------------------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  background-color: grey;
  height: 500px;
  font-size: 16px;
}

/* 1mm	3.8px
1cm	38px
1pt	4/3px
1pc	16px */

/* Абсолютные: px mm, cm, pt, pc
Относитльеные: %, em и rem, vh и vw */

.block {
  width: 100px;
  height: 100px;
  background-color: green;
  /* margin: 10%; */
}
/* ---------------------------------------------------------------------------------------------- */

table,
td,
tr {
  border: 1px solid black;
}

td {
  padding: 10px;
}

table {
  border-collapse: collapse;
  /* border-collapse: separate; */
}
