.wrapper {
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  border: 2px solid black;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.block {
  width: 100px;
  height: 100px;
  background-color: green;
  border: 2px solid red;
}
/* ------------------------------------------main, aside, adress, pre */

section {
  display: flex;
}

aside {
  width: 30%;
  margin-top: 50px;
}

section p {
  font-size: 18px;
}

aside p {
  font-size: 14px;
}
/* --------------------------------------- wbr*/
.wbr {
  width: 200px;
}
/* --------------------------------------- */
